body {
  margin: 0;
}

h1 {
  margin: 0;
}

.App {
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
}

.header {
  display: flex;
  gap: 16px;
  margin: 16px;
  align-items: center;
}

.header h1 {
  margin-right: auto;
}

/* Main Component */
.values {
  padding: 8px;
  background: yellow;
}

.value {
  margin-top: 10px;
  border-top: 1px dashed black;
}

.form {
  margin-top: 20px;
}
